*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
}

.container{
    width: 100%;
    position: relative;
}
.wrapper{
    position: fixed;
    transition: background 0.4s linear;
    width:100%;
    padding:15px;
    background: lightblue;
    color: white;
    text-align: center;
    overflow: hidden;
    z-index: 10;

}
#arrowDown{
    position:absolute;
    bottom:0;
    right:117px;

}
.wrapper h1{
    margin-top: 0;
}
 #menu-nav ul{
     list-style: none;
     
 }
 #menu-nav ul a{
     text-decoration: none;
     color: yellow;
     font: 3em;
 }
 #menu-nav{
     width: 30%;
     display: none;
     position: fixed;
     top:102px;
     right: 0;
     margin: 0;
     height: 0px;
     z-index: 20;
     float: right;
     transition: height 1s linear; 
     background:rgba(173,216,230, 0.8);
 }

 img{
    animation: blink 1s linear infinite;
 }
 @keyframes blink{
     0%{opacity: 1;}
     50%{opacity:0;}
     100%{opacity:1;}
 }
 /* .group:after{
     content: "";
     display: table;
     clear: both;
 } */